{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-globe text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">#Questions</p>
                  <p class="card-title">2000<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              Update Now
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-chat-33 text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">#Repetitive</p>
                  <p class="card-title">1,345<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              Update now
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-calendar-60 text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">#Today</p>
                  <p class="card-title">100<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              Update now
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-circle-10 text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">#Users</p>
                  <p class="card-title">150<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              Update now
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Users Behavior</h5>
            <p class="card-category">#questions</p>
          </div>
          <div class="card-body ">
            <canvas id=chartHours width="400" height="100"></canvas>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Statistics</h5>
            <p class="card-category">Answers Feedback</p>
          </div>
          <div class="card-body ">
            <canvas id="chartEmail"  height="400">></canvas>
          </div>
        <!--   <div class="card-footer ">
            <div class="legend">
              <i class="fa fa-circle text-primary"></i> Useful
              <i class="fa fa-circle text-warning"></i> Need more info
              <i class="fa fa-circle text-danger"></i> Out Of context
              <i class="fa fa-circle text-gray"></i> Not useful
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-calendar"></i> Till date
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-title">Usage</h5>
            <p class="card-category">Information Category</p>
          </div>
          <div class="card-body">
            <canvas id="speedChart" width="400" height="300"></canvas>
          </div>
          <!-- <div class="card-footer">
            <div class="chart-legend">
              <i class="fa fa-circle text-info"></i> Tesla Model S
              <i class="fa fa-circle text-warning"></i> BMW 5 Series
            </div>
            <hr />
            <div class="card-stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </div> -->
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-header ">
            <h5 class="card-title">FAQ</h5>
            <p class="card-category">This week</p>
          </div>
          <div class="card-body ">
               <div class="d-flex flex-column align-items-start">
                <!-- FAQ Card with low 'heat' -->
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text bg-light">What is the onboarding process for new hires?</p>
                    </div>
                </div>
                
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">Where can I find the company's holiday schedule?</p>
                    </div>
                </div>
              
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">How do I book a meeting room?</p>
                    </div>
                </div>
              
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">Where can I access our employee benefits information?</p>
                    </div>
                </div>

                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">What is the procedure for filing a grievance?</p>
                    </div>
                </div>
                

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-header">
            <h5 class="card-title">UnAnswered</h5>
            <p class="card-category">This week</p>
          </div>
          <div class="card-body">
           <div class="d-flex flex-column align-items-start">

                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">Can I have a detailed explanation of how my personal performance impacts my annual bonus?</p>
                    </div>
                </div>
                
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">Why was my request for specific software denied, and can it be reconsidered?</p>
                    </div>
                </div>
                
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">Can the company accommodate a custom working schedule for my unique situation?</p>
                    </div>
                </div>
                
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">How can I be involved in decision-making processes related to my project or team?</p>
                    </div>
                </div>
                
                <div class="card mb-3" style="width:100%">
                    <div class="card-body shadow">
                        <p class="card-text">What specific actions are being taken to improve diversity and inclusion within our organization?</p>
                    </div>
                </div>
                
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>

{% endblock javascripts %}
